body {    

}
#letraG{
        font-size: 50px;
        margin-left:200px;             
        }

#letraP{
        font-size: 20px;
        margin-left:200px;             
       }
#letraM{
        font-size: 30px;
        margin-left:200px;             
       }
